.assit{
  position: absolute;
  bottom: 2%;
  right: 2%;  

  .assitCon{
    padding: 10px 10px;
    width: 400px;
    height: 40px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(35,37,42,.14);
    position: relative;
  }
}