.assit{
  position: absolute;
  bottom: 1%;
  right: 2%; 

  .assitCon{
    padding: 10px 10px;
    width: 300px;
    height: 30px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(35,37,42,.14);
    position: relative;
  }

  .iconfont{
    float: right;
    line-height: 30px;
    font-size: 20px;
    cursor: pointer;
    z-index: 11111;
  }
}