.g6-graph {
    position: absolute;
    top: 0;
    left: 0;
}

.g6-minimap {
    background-color: #fff;
    // border: 1px solid #333;
    position: absolute;
    bottom:4%;
    right: 2%;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(35,37,42,.14);
}