.sidebar{
  position: absolute;
  right: 0;
  top: 30%;
  
 ul{
  position: relative;
  list-style: none;
  width: 90px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(35,37,42,.14);
  border-radius: 4px;
}
.active i{
  color: #9a9898;
}

 li{
  padding: 20px 10px;
  cursor: pointer;
  text-align: center;
}
  i{
  font-size: 40px;
}

.tooltip-left{
  position: absolute;
  top: 50%;
  left: -20%;
  transform: translate(-100%, -50%);
  text-align: right;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(35,37,42,.14);
}

.rect-tip{
  padding: 30px;
  background-color: #d99494;
  margin: 10px 0;
  cursor: pointer;
}
.rect-tip:hover{
  background-color: aqua;
}

}
.tooltip-left::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  border: solid transparent;
  border-width: 10px;
  border-left-color: #948181; /* 右箭头颜色 */
}